cached_path==1.6.7
f5_tts==0.3.4
fastapi==0.115.9
fastembed==0.6.0
gradio==5.19.0
numpy==2.2.3
openai==1.65.1
pydantic==2.10.6
python-dotenv==1.0.1
qdrant_client==1.13.2
Requests==2.32.3
semantic_kernel==1.22.0
sounddevice==0.5.1
torch==2.6.0
torchaudio==2.6.0
transformers==4.49.0
tts==0.22.0
vosk==0.3.44
azure.search
azure.search.documents
